{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<head>
  <title>TigerPath | Degree Progress</title>
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">

    
<div class="container">
  <div class="page-header" style="color:#ff8f00;" style ='background-color: #2ba6cb;'>
  <h1>African American Studies Certificate</h1>
</div>
</div>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="/fouryear">Four Year</a></li>
      <li class="active"><a href="#">Degree Progress</a></li> 
      <li><a href="/certificates">Certificates</a></li> 
      <li><a href="/princetoncourseapproval">Princeton Course Approval</a></li> 
      <li><a href="/outsidecourseapproval">Outside Course Approval</a></li> 
      <li><a href="/schedulesharing">Schedule Sharing</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li> 
        <li class="dropdown">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container"> 
  <div style="text-align:center"><br>
    TigerPath | COS 333 Project made by: Natalie Wertz, Sam Cheng, William Hinthorn, Viveque Ramji, Bennett Victor
    </div>
  </div>
</nav>

<script>
//Remove an item from your course list
function rmv(object) {
BootstrapDialog.confirm({
            title: 'Remove a course:',
            message: 'Are you sure you want to remove '.concat(String(object), ' from your course list?'),
             type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Drop it!', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) {
                // result will be true if button was click, while it will be false if users close the dialog directly.
                if(result) {
                    var x = document.getElementById(String(object));
                    x.submit();
                }else {
                    return;
                }
            }
        });
 
}
function add(object) {
var x = document.getElementById(String(object));
  BootstrapDialog.show({
            title: 'Add a course:',
            message: 'Please add '.concat(String(object), ' to a semester.'),
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            buttons: [{
                label: 'Cancel',
                cssClass: 'btn-danger',
                action: function(dialogRef){
                   dialogRef.close();
                }
              },
              {
                label: 'Freshman Fall',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "FRF";
                    x.submit();
                }
              },
              {
                label: 'Freshman Spring',
                cssClass: 'btn-primary btn-smaller',
                action: function(dialogRef){
                    x.term = "FRS";
                    x.submit();
                }
              },
              {
                label: 'Sophomore Fall',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "SOF";
                    x.submit();
                }
              },
              {
                label: 'Sophomore Spring',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "SOS";
                    x.submit();
                }
              },
              {
                label: 'Junior Fall',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "JRF";
                    x.submit();
                }
              },
              {
                label: 'Junior Spring',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "JRS";
                    x.submit();
                }
              },
              {
                label: 'Senior Fall',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "SRF";
                    x.submit();
                }
              },
              {
                label: 'Senior Spring',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "SRS";
                    x.submit();
                }
              }]
        });
  }
</script>

<div class="container">
 {% if removed_class %}
    <div class="row"><br>
      <div class="alert alert-success col-md-12" role="alert">
        <b>Well Done!</b> You have successfully removed <b>{{removed_class}}</b>. 
      </div>
    </div>
  {% endif %}

<div class = "panel panel-default">
   <div class = "panel-heading">
      <h1 class = "panel-title" style="text-align:center"><b>
         COS Departmental Requirements</b>
      </h1>
   </div>
   
   <div class = "panel-body">
      

     <div class="row">

        <div class="col-md-4">
         <div class="list_group" style="text-align:center">
                <a class="list-group-item active">Intro</a>
             {% for x in intro_on %}
               <span>
               <form class= "form-inline" id = "{{x.course.listings}}">
                <a class="list-group-item list-group-item-success" name ="{{x.course.listings}}" >{{ x }} 
                  </a>
             
              </form>
            </span>
             {% endfor %}
             {% for x in intro_off %}
               <span>
               <form class= "form-inline" id = "{{x.course.listings}}">
                <a class="list-group-item list-group-item-danger" name ="{{x.course.listings}}" >{{ x }}</a>
              </form>
            </span>
             {% endfor %}
            </div>
         </div>


         <div class="col-md-4">
         <div class="list_group">
                <a class="list-group-item active" style="text-align:center">Survey</a>
             {% for x in survey_on %}
               <span>
               <form class= "form-inline" id = "{{x.course.listings}}">
                <a class="list-group-item list-group-item-success" style="text-align:center" name ="{{x.course.listings}}" >{{ x }}
                    </a>
               
              </form>
            </span>
             {% endfor %}
             {% for x in survey_off %}
               <span>
               <form class= "form-inline" id = "{{x.course.listings}}">
                <a class="list-group-item list-group-item-danger" style="text-align:center" name ="{{x.course.listings}}" >{{ x }} </a>
                
              </form>
            </span>
             {% endfor %}
            </div>
         </div>
         
         <div class="col-md-4">
         <div class="list_group" style="text-align:center">
                <a class="list-group-item active">Other</a>
             {% for x in other_on %}
               <span>
               <form class= "form-inline" id = "{{x.course.listings}}">
                <a class="list-group-item list-group-item-success" name ="{{x.course.listings}}" >{{ x }} 
                  </a>
             
              </form>
            </span>
             {% endfor %}
             {% for x in other_off %}
               <span>
               <form class= "form-inline" id = "{{x.course.listings}}">
                <a class="list-group-item list-group-item-danger" name ="{{x.course.listings}}" >{{ x }}</a>
              </form>
            </span>
             {% endfor %}
            </div>
         </div>

   </div>
   </div>
 </div>
 
</div>


</body>
</html>

{% endblock %}
