<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TigerPath | About</title>
  <link rel="stylesheet" href="/../../static/css/bootstrap.css">
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script  src="/../../static/js/react.js"></script>
  <script  src="/../../static/js/react-dom.js"></script>
  <script  src="/../../static/js/bootstrap.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
  <script  src="/../../static/js/react-bootstrap.min.js"></script>
  <script  src="/../../static/js/JSXTransformer.js"></script>
  
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">
  
{% load staticfiles %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">TigerPath</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">About</a></li> 
        <li><a href="/fouryear">Login</a></li> 
        
    </ul>
  </div>
</nav>




<div class="jumbotron text-center">
  <div class='container' id='box'>
  <h1 style="color:#ff8f00">TigerPath: blah blah blah</h1>
  </div>
</div>

<!-- Our mission -->
<div class="container text-center">
  <h1>Our mission</h1>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p>
        TigerPath is here to help u w/ stuf
      </p>
    </div>
  </div>
</div>

<!-- Meet the team -->
<div class="container text-center">
  <h1>Meet the team</h1>
  <div class="row">
    <!--Ji Won -->
    <div class="col-xs-1">
      </div>
    <div class="col-lg-2">
      <img src="{% static "pics/nwertz.png" %}" class="img-circle img-responsive center-block" alt="Jiwon" />
      <h3>Natalie<br>Wertz</h3>
      <p>
        Natalie is a sophomore in Computer Science department from Verona, NJ. She can be reached
        at <a href="mailto:nwertz@princeton.edu">nwertz@princeton.edu</a>.
      </p>
    </div>
    
    <div class="col-lg-2">
      <img src="{% static "pics/samcheng.png" %}" class="img-circle img-responsive center-block" alt="Jiwon" />
      <h3>Sam<br>Cheng</h3>
      <p>
        Sam is a sophomore majoring in COS from Bridgeport, CT. He can be contacted at <a href="mailto:samcheng@princeton.edu">samcheng@princeton.edu</a>.
      </p>
    </div>
    
    <div class="col-lg-2">
      <img src="{% static "pics/hinthorn.jpg" %}" class="img-circle img-responsive center-block" alt="Jiwon" />
      <h3>William<br>Hinthorn</h3>
      <p>
        William is a sophomore in the CS department from Boston, MA. He can be reached
        at <a href="mailto:hinthorn@princeton.edu">hinthorn@princeton.edu</a>.
      </p>
    </div>
    
    <div class="col-lg-2">
      <img src="{% static "pics/vramji.jpg" %}" class="img-circle img-responsive center-block" alt="Jiwon" />
      <h3>Viveque<br>Ramji</h3>
      <p>
         Viveque is from London, UK and is currently a sophomore in the MAE department. Get in touch with him
        at <a href="mailto:vramji@princeton.edu">vramji@princeton.edu</a>.
      </p>
    </div>
    
    <div class="col-lg-2">
      <img src="{% static "pics/bvictor.png" %}" class="img-circle img-responsive center-block" alt="Jiwon" />
      <h3>Bennett<br>Victor</h3>
      <p>
        Bennett is sophomore COS major from Beverly Hills, CA. He can be contacted
        at <a href="mailto:bcvictor@princeton.edu">bcvictor@princeton.edu</a>.
      </p>
    </div>
    
    
    
    <div class="col-xs-1">
      </div>
   </div>
  </div>
</div>


</body>
</html>
