<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TigerPath | About</title>
  <link rel="stylesheet" href="/../../static/css/bootstrap.css">
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script  src="/../../static/js/react.js"></script>
  <script  src="/../../static/js/react-dom.js"></script>
  <script  src="/../../static/js/bootstrap.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
  <script  src="/../../static/js/react-bootstrap.min.js"></script>
  <script  src="/../../static/js/JSXTransformer.js"></script>
  
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">
  


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">TigerPath</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">About</a></li> 
        <li><a href="/fouryear">Login</a></li> 
        
    </ul>
  </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container"> 
  <div style="text-align:center"><br>
    TigerPath | COS 333 Project made by: Natalie Wertz, Sam Cheng, William Hinthorn, Viveque Ramji, Bennet Victor
    </div>
  </div>
</nav>


<div class="jumbotron text-center">
  <div class='container' id='box'>
  <h1 style='color:white'>TigerPath: blah blah blah</h1>
  </div>
</div>

<!-- Our mission -->
<div class="container text-center">
  <h1>Our mission</h1>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p>
        TigerPath is here to help u w/ stuf
      </p>
    </div>
  </div>
</div>

<!-- Meet the team -->
<div class="container text-center">
  <h1>Meet the team</h1>
  <div class="row">
    <!--Ji Won -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <img src="{% static "pics/nwertz.png" %}" class="img-circle img-responsive center-block" alt="Jiwon" style="height:300px"/>
      <h3>Natalie Wertz</h3>
      <p>
        Natalie Wertz is a sophomore majoring in Computer Science from Verona, NJ. She can be contacted
        at <a href="mailto:nwertz@princeton.edu">nwertz@princeton.edu</a>.
      </p>
    </div>
   </div>
  </div>
</div>


</body>
</html>
