{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<html>
<head>
  <meta charset="utf-8">
  <title>TigerPath | Certificates</title>
  <link rel="stylesheet" href="/../../static/css/bootstrap.css">
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script  src="/../../static/js/react.js"></script>
  <script  src="/../../static/js/react-dom.js"></script>
  <script  src="/../../static/js/bootstrap.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
  <script  src="/../../static/js/react-bootstrap.min.js"></script>
  <script  src="/../../static/js/JSXTransformer.js"></script>
  
    <style type="text/css">
    .jumbotron {
        position: relative;
        background: center center;
        overflow: hidden;
        background-image: url("/static/pics/cert.png");
        background-size: cover;
        height: 100%;
        color: #FFA500;
        padding-bottom: 20px
    }
    .jumbotron .btn-primary {
        background: #ff8c00;
        border-color: #ff8c00
    }
    .jumbotron .btn-primary:hover {
        background: #ffa500
    }
    .jumbotron p {
        color: #ffffff;
        max-width: 75%;
        margin: 1em auto 2em
    }
    .navbar+.jumbotron {
        margin-top: -20px
    }
    .jumbotron .lang-logo {
        display: block;
        background: #ff8c00;
        border-radius: 50%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin: auto;
        border: 2px solid white
    }
    .jumbotron .lang-logo img {
        max-width: 100%
    }
  </style>
  
  
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">

<head>
  <title>TigerPath | Certificates</title>
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">

    
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="/fouryear">Four Year</a></li>
      <li><a href="/degreeprogress">Degree Progress</a></li> 
      <li class="active"><a href="#">Certificates</a></li> 
      <li><a href="/outsidecourseapproval">Outside Course Approval</a></li> 
      <li><a href="/schedulesharing">Schedule Sharing</a></li> 
      <li><a href="/cosdata">COS Data</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li> 
        <li class="dropdown">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>  

<div class="container" style="background-color:#F3F3F3">
<br>
<div class="jumbotron text-center">
  <div class='container' id='box'>
  <h1 style="color:#ff8f00; background-color:rgba(0, 0, 0, 0.5);">Explore Certificate Options</h1>
  </div>
</div>

<!-- Suggested Certificates -->
 {% if top_3 %}
<div class="row">
  <div class="panel-heading">
    <h4>Have you considered pursuing the <b>{{top_3.0}}</b>, <b>{{top_3.1}}</b>, or <b>{{top_3.2}}</b> certificates? Based on your schedule, it seems that these certificates might be relevant to you! </h4> 
  </div> <!-- panel heading -->

</div> <!-- row/-->
{% endif %}

<div class="container">
  <div class= "col-md-12">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.aas' %}"><button type="button" class="btn btn-default">African American Studies</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.afs' %}"><button type="button" class="btn btn-default">African Studies</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">American Studies</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
<!--div class="container"-->
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.aas' %}"><button type="button" class="btn btn-default">Applications of Computing</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.afs' %}"><button type="button" class="btn btn-default">Applied and Computational Mathematics</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">Architecture and Engineering</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.aas' %}"><button type="button" class="btn btn-default">Biophysics</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.afs' %}"><button type="button" class="btn btn-default">Contemporary European Politics and Society</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.cwr' %}"><button type="button" class="btn btn-default">Creative Writing</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.aas' %}"><button type="button" class="btn btn-default">Dance</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.eas' %}"><button type="button" class="btn btn-default">East Asian Studies</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">Engineering and Management Systems</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.aas' %}"><button type="button" class="btn btn-default">Engineering Biology</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.afs' %}"><button type="button" class="btn btn-default">Engineering Physics</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">Environmental Studies</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.aas' %}"><button type="button" class="btn btn-default">European Cultural Studies</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.fin' %}"><button type="button" class="btn btn-default">Finance</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.gss' %}"><button type="button" class="btn btn-default">Gender and Sexuality Studies</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.aas' %}"><button type="button" class="btn btn-default">Geological Engineering</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ghp' %}"><button type="button" class="btn btn-default">Global Health and Health Policy</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">Hellenic Studies</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.aas' %}"><button type="button" class="btn btn-default">Humanistic Studies</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.afs' %}"><button type="button" class="btn btn-default">Jazz Studies</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">Judaic Studies</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.aas' %}"><button type="button" class="btn btn-default">Language and Culture</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.afs' %}"><button type="button" class="btn btn-default">Latin American Studies</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">Latino Studies</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.lin' %}"><button type="button" class="btn btn-default">Linguistics</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.afs' %}"><button type="button" class="btn btn-default">Materials Science and Engineering</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">Medieval Studies</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.aas' %}"><button type="button" class="btn btn-default">Music Theather</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.mus' %}"><button type="button" class="btn btn-default">Musical Performance</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">Near Eastern Studies</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.neu' %}"><button type="button" class="btn btn-default">Neuroscience</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.afs' %}"><button type="button" class="btn btn-default">Planets and Life</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.qcb' %}"><button type="button" class="btn btn-default">Quantitative and Computational Biology</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.rob' %}"><button type="button" class="btn btn-default">Robotics and Intelligent Systems</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.afs' %}"><button type="button" class="btn btn-default">Russian, East European and Eurasian Studies</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">South Asian Studies</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.aas' %}"><button type="button" class="btn btn-default">Statistics and Machine Learning</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.afs' %}"><button type="button" class="btn btn-default">Sustainable Energy</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">Teacher Preparation</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.aas' %}"><button type="button" class="btn btn-default">Technology and Society</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.afs' %}"><button type="button" class="btn btn-default">Theater</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">Translation and Intercultural Communication</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
<div class= "col-md-12">
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.urb' %}"><button type="button" class="btn btn-default">Urban Studies</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.vpl' %}"><button type="button" class="btn btn-default">Values and Public Life</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">Visual Arts</button></a>
  </div>
</div>
</div> <!-- col-md-12-->
    
</div> <!-- container -->
<br>
</div> <!-- class= Container-->

</body>
</html>

{% endblock %}
