{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<head>
  <title>TigerPath | Certificates</title>
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">

    
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="/fouryear">Four Year</a></li>
      <li><a href="/degreeprogress">Degree Progress</a></li> 
      <li class="active"><a href="#">Certificates</a></li> 
      <li><a href="/princetoncourseapproval">Princeton Course Approval</a></li> 
      <li><a href="/outsidecourseapproval">Outside Course Approval</a></li> 
      <li><a href="/schedulesharing">Schedule Sharing</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li> 
        <li class="dropdown">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>  

  
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container"> 
  <div style="text-align:center"><br>
    TigerPath | COS 333 Project made by: Natalie Wertz, Sam Cheng, William Hinthorn, Viveque Ramji, Bennett Victor
    </div>
  </div>
</nav>

<div class="container">
  <div class="page-header" style="color:#ff8f00">
  <h1>Explore Certificate Options</h1>
</div>

<!-- Suggested Certificates -->
 {% if top_3 %}
<div class="row">
  <div class="panel-heading">
    <h4>Have you considered pursuing the following certificates? </h4> 
  </div> <!-- panel heading -->

</div> <!-- row/-->
{% endif %}

<div class="container">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="{% url 'views.aas' %}"><button type="button" class="btn btn-default">African American Studies</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.afs' %}"><button type="button" class="btn btn-default">African Studies</button></a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'views.ams' %}"><button type="button" class="btn btn-default">American Studies</button></a>
  </div>
</div>

    
    
</div>



</body>
</html>

{% endblock %}
