{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<html>
<head>
  <meta charset="utf-8">
  <title>TigerPath | COS Data</title>
  <link rel="stylesheet" href="/../../static/css/bootstrap.css">
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script  src="/../../static/js/react.js"></script>
  <script  src="/../../static/js/react-dom.js"></script>
  <script  src="/../../static/js/bootstrap.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
  <script  src="/../../static/js/react-bootstrap.min.js"></script>
  <script  src="/../../static/js/JSXTransformer.js"></script>
  
    <style type="text/css">
    .jumbotron {
        position: relative;
        background: center center;
        overflow: hidden;
        background-image: url("/static/pics/code.png");
        background-size: cover;
        height: 100%;
        color: #FFA500;
        padding-bottom: 20px
    }
    .jumbotron .btn-primary {
        background: #ff8c00;
        border-color: #ff8c00
    }
    .jumbotron .btn-primary:hover {
        background: #ffa500
    }
    .jumbotron p {
        color: #ffffff;
        max-width: 75%;
        margin: 1em auto 2em
    }
    .navbar+.jumbotron {
        margin-top: -20px
    }
    .jumbotron .lang-logo {
        display: block;
        background: #ff8c00;
        border-radius: 50%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin: auto;
        border: 2px solid white
    }
    .jumbotron .lang-logo img {
        max-width: 100%
    }
  </style>
  
  
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">

    


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="/fouryear">Four Year</a></li>
      <li><a href="/degreeprogress">Degree Progress</a></li> 
      <li><a href="/certificates">Certificates</a></li> 
      <!--li><a href="/princetoncourseapproval">Princeton Course Approval</a></li--> 
      <li><a href="/outsidecourseapproval">Outside Course Approval</a></li> 
      <li><a href="/schedulesharing">Schedule Sharing</a></li> 
      <li class="active"><a href="#">COS Data</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li> 
        <li class="dropdown">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>
<div class="container" style="background-color:#F3F3F3">
<br>
<div class="jumbotron text-center">
  <div class='container' id='box'>
  <h1 style="color:#ff8f00; background-color:rgba(0, 0, 0, 0.5);">COS Course Data</h1>
  </div>
</div>


<script>
//Remove an item from your course list
function rmv(object) {
BootstrapDialog.confirm({
            title: 'Remove a course:',
            message: 'Are you sure you want to remove '.concat(String(object), ' from your course list?'),
             type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Drop it!', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) {
                // result will be true if button was click, while it will be false if users close the dialog directly.
                if(result) {
                    var x = document.getElementById(String(object));
                    x.submit();
                }else {
                    return;
                }
            }
        });
 
}
function add(object) {
var x = document.getElementById(String(object));
  BootstrapDialog.show({
            title: 'Add a course:',
            message: 'Please add '.concat(String(object), ' to a semester.'),
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            buttons: [{
                label: 'Cancel',
                cssClass: 'btn-danger',
                action: function(dialogRef){
                   dialogRef.close();
                }
              },
              {
                label: 'Freshman Fall',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "FRF";
                    x.submit();
                }
              },
              {
                label: 'Freshman Spring',
                cssClass: 'btn-primary btn-smaller',
                action: function(dialogRef){
                    x.term = "FRS";
                    x.submit();
                }
              },
              {
                label: 'Sophomore Fall',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "SOF";
                    x.submit();
                }
              },
              {
                label: 'Sophomore Spring',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "SOS";
                    x.submit();
                }
              },
              {
                label: 'Junior Fall',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "JRF";
                    x.submit();
                }
              },
              {
                label: 'Junior Spring',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "JRS";
                    x.submit();
                }
              },
              {
                label: 'Senior Fall',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "SRF";
                    x.submit();
                }
              },
              {
                label: 'Senior Spring',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "SRS";
                    x.submit();
                }
              }]
        });
  }
</script>

<div class="container">
 {% if removed_class %}
    <div class="row"><br>
      <div class="alert alert-success col-md-12" role="alert">
        <b>Well Done!</b> You have successfully removed <b>{{removed_class}}</b>. 
      </div>
    </div>
  {% endif %}
</div>

<div class="container">
    <div class="col-md-12">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <a href="{% url 'views.cos_data_semester' %}"><button type="button" class="btn btn-default">By Semester</button></a>
      </div>
      <div class="btn-group" role="group">
        <a href="{% url 'views.cos_data_course' %}"><button type="button" class="btn btn-default">By Course</button></a>
      </div>
      <div class="btn-group" role="group">
        <a href="{% url 'views.cos_data_req' %}"><button type="button" class="btn btn-default">By Requirement</button></a>
      </div>
  </div>
</div>         
</div> <!-- CONTAINER-->
<br>
</div> <!--  Main CONTAINER-->
</body>
</html>

{% endblock %}
