<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TigerPath | Current Courses</title>
  <link rel="stylesheet" href="/../../static/css/bootstrap.css">
  <link rel="stylesheet" href="/../../static/css/style.css">
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
  <script  src="/../../static/js/react.js"></script>
  <script  src="/../../static/js/react-dom.js"></script>
  <script  src="/../../static/js/react-bootstrap.min.js"></script>
  <script  src="/../../static/js/JSXTransformer.js"></script>
  <script  src="/../../static/js/bootstrap.js"></script>
  <script  src="/../../static/js/bootstrap-hover-dropdown.js"></script>
   
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">

<!--Colors used: dark orange: #FF8F00; light orange for hover: #FFB352-->
<script>
function remove_FRF(object) {

    var x = document.getElementById(String(object));
    console.log(object);
    console.log(String(object));
    console.log(x);
    x.submit();
}
function remove_FRS() {
    var x = document.getElementById("remove_FRS");
    x.submit();
}
function remove_SOF() {
    var x = document.getElementById("remove_SOF");
    x.submit();
}
function remove_SOS() {
    var x = document.getElementById("remove_SOS");
    x.submit();
}
function remove_JRF() {
    var x = document.getElementById("remove_JRF");
    x.submit();
}
function remove_JRS() {
    var x = document.getElementById("remove_JRS");
    x.submit();
}
function remove_SRF() {
    var x = document.getElementById("remove_SRF");
    x.submit();
}
function remove_SRS() {
    var x = document.getElementById("remove_SRS");
    x.submit();
}
</script>

    
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Four Year</a></li>
      <li><a href="/degreeprogress">Degree Progress</a></li> 
      <li><a href="/certificates">Certificates</a></li> 
      <li><a href="/princetoncourseapproval">Princeton Course Approval</a></li> 
      <li><a href="/outsidecourseapproval">Outside Course Approval</a></li> 
      <li><a href="/schedulesharing">Schedule Sharing</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li> 
        <li class="dropdown">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container"> 
  <div style="text-align:center"><br>
    TigerPath | COS 333 Project made by: Natalie Wertz, Sam Cheng, William Hinthorn, Viveque Ramji, Bennett Victor
    </div>
  </div>
</nav>

<div class="container">
    
    <div class="row">

     <div class="row">
         <div class="col-md-6">
         <div class="list_group">
                <a class="list-group-item active">Freshman Fall</a>
             {% for x in fresh_fall %}
               <span>
               <form class= "form-inline" id = "{{x.course.listings}}" action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" onclick="remove_FRF({{x.course.listings}})">{{ x.course }} {{x.course.title}}
                    <i class="glyphicon glyphicon-minus pull-right" style="color:#f00"></i></a>
                <input type="hidden" name="term" value ="FRF">
                <input type="hidden" name="remove" value={{x.course.listings}}>
              </form>
            </span>
             {% endfor %}
             </div>
         </div>
         <div class="col-md-6">
         <div class="list_group">
                <a class="list-group-item active">Freshman Spring</a>
             {% for x in fresh_spring %}
                <span>
                <form class= "form-inline" id = "remove_FRS" action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" onclick="remove_FRS()">{{ x.course }} {{x.course.title}}
                    <i class="glyphicon glyphicon-minus pull-right" style="color:#f00"></i></a>
                <input type="hidden" name="term" value ="FRS">
                <input type="hidden" name="remove" value={{x.course.listings}}>
              </form>
            </span>
             {% endfor %}
         </div>
         </div>
     </div>

     <div class="row">
         <div class="col-md-6">
         <div class="list_group">
                <a class="list-group-item active">Sophomore Fall</a>
             {% for x in soph_fall %}
                <span>
                <form class= "form-inline" id = "remove_SOF"  action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" onclick="remove_SOF()">{{ x.course }} {{x.course.title}}
                <i class="glyphicon glyphicon-minus pull-right" style="color:#f00"></i></a>
                <input type="hidden" name="term" value ="SOF">
                <input type="hidden" name="remove" value={{x.course.listings}}>
              </form>
            </span>
             {% endfor %}
         </div>
        </div>
         <div class="col-md-6">
         <div class="list_group">
                <a class="list-group-item active">Sophomore Spring</a>
             {% for x in soph_spring %}
                <span>
                 <form class= "form-inline" id = "remove_SOS"  action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" onclick="remove_SOS()">{{ x.course }} {{x.course.title}}
                <i class="glyphicon glyphicon-minus pull-right" style="color:#f00"></i></a>
                <input type="hidden" name="term" value ="SOS">
                <input type="hidden" name="remove" value={{x.course.listings}}>
              </form>
            </span>
             {% endfor %}
        </div> 
         </div>
      </div>
                
     <div class="row">
         <div class="col-md-6">
             <div class="list_group">
             <a class="list-group-item active">Junior Fall</a>
             {% for x in junior_fall %}
             <span>
                <form class= "form-inline" id = "remove_JRF" action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" onclick="remove_JRF()">{{ x.course }} {{x.course.title}}
                <i class="glyphicon glyphicon-minus pull-right" style="color:#f00"></i></a>
                <input type="hidden" name="term" value ="JRF">
                <input type="hidden" name="remove" value={{x.course.listings}}>
              </form>
            </span>
             {% endfor %}
             </div>
         </div>
         <div class="col-md-6">
            <div class="list_group">
                <a class="list-group-item active">Junior Spring</a>
                 {% for x in junior_spring %}
                 <span>
                    <form class= "form-inline" id = "remove_JRS" action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" onclick="remove_JRS()">{{ x.course }} {{x.course.title}}
                <i class="glyphicon glyphicon-minus pull-right" style="color:#f00"></i></a>
                <input type="hidden" name="term" value ="JRS">
                <input type="hidden" name="remove" value={{x.course.listings}}>
              </form>
            </span>
                 {% endfor %}
             </div>
         </div>
         </div>
                
    <div class="row">
         <div class="col-md-6">
         <div class="list_group">
                <a class="list-group-item active">Senior Fall</a>
                 {% for x in senior_fall %}
                  <span>
                    <form class= "form-inline" name = "remove_SRF" id = "{{x.course}}" action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" onclick="remove_SRF()">{{ x.course }} {{x.course.title}}
                <i class="glyphicon glyphicon-minus pull-right" style="color:#f00"></i></a>
                <input type="hidden" name="term" value ="SRF">
                <input type="hidden" name="remove" value={{x.course.listings}}>
              </form>
            </span>
                 {% endfor %}
         </div>
         </div>
         <div class="col-md-6">
         <div class="list_group">
                <a class="list-group-item active">Senior Spring</a>
             {% for x in senior_spring %}
                <span>
                <form class= "form-inline" name = "remove_SRS" id = "{{x.course}}" action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" onclick="remove_SRS()">{{ x.course }} {{x.course.title}}
                <i class="glyphicon glyphicon-minus pull-right" style="color:#f00"></i></a>
                <input type="hidden" name="term" value ="SRS">
                <input type="hidden" name="remove" value={{x.course.listings}}>
              </form>
            </span>
             {% endfor %}
         </div>
         </div>
    </div>
 </div>

 <div class="row">
        <h5><br>Add a class to a semester</h5>
            <div id="custom-search">
                <form class = "form-inline" action = "" method = "get" >
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Type course (e.g. COS 126)" value = "{{test}}" name="q" />
                        <span class="input-group-btn">
                            <button  id="search-btn" class="btn btn-info btn-lg" type="submit" >
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
    </div>
    {% if test_course %}
    <div class="row">
    <br><div class="alert alert-success col-md-12" role="alert">
      <b>Well Done!</b> You have successfully added <b>{{test_course}} {{test_course.title}}</b> to <b>{{sem}}</b>
      </div>
      </div>
    {% endif %}
    {% if removed_class %}
    <div class="row">
    <br><div class="alert alert-success col-md-12" role="alert">
      <b>Well Done!</b> You have successfully removed <b>{{removed_class}}</b>. 
      </div>
      </div>
    {% endif %}
    <!-- List the matche courses below -->
    {% if matched_courses %}
        <div class="row">
            <p><br>Matched Courses</p>
        </div>
            <div class="list-group">
            {% for x in matched_courses %}
            <div class="list-group col-md-12">
              <div class="btn-group" style="width: 100%">
              <form class= "form-inline" action= "" method= "post">{% csrf_token %}
                  <li class="list-group-item">{{x.listings}} {{x.title}} {{x.area}}
                    <select class="form-control" name="semester">
                        <option>Freshman Fall</option>
                        <option>Freshman Spring</option>
                        <option>Sophomore Fall</option>
                        <option>Sophomore Spring</option>
                        <option>Junior Fall</option>
                        <option>Junior Spring</option>
                        <option>Senior Fall</option>
                        <option>Senior Spring</option>
                      </select>
                      <input type="hidden" name="listing" value={{x.listings}}>
                      <input type="submit" class="btn btn-info" value="Add Class">
                  </li>
              </form>
            </div>
            </div>
          {% endfor %}
            </div>
    {% endif %}

</div>




<!-- <script type="text/babel" src="/../../static/scripts/react_course_search.js"></script> -->
<!-- <script  src="/../../static/scripts/search_requests.js"></script>  -->

</body>
</html>
