<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TigerPath | Current Courses</title>
  <link rel="stylesheet" href="/../../static/css/bootstrap.css">
  <link rel="stylesheet" href="/../../static/css/syle.css">
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
  <script  src="/../../static/js/react.js"></script>
  <script  src="/../../static/js/react-dom.js"></script>
  <script  src="/../../static/js/react-bootstrap.min.js"></script>
  <script  src="/../../static/js/JSXTransformer.js"></script>
  <script  src="/../../static/js/bootstrap.js"></script>
  <script  src="/../../static/js/bootstrap-hover-dropdown.js"></script>
   
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">

<!--Colors used: dark orange: #FF8F00; light orange for hover: #FFB352-->



<!-- COnsole testing for React
<script>
console.log("{{user}}");
var myJSONList = (("{{fresh_fall|safe}}").replace(/&(l|g|quo)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"'
                }[b];
            }));
console.log("done");
console.log(myJSONList);
console.log("{{fresh_fall}}");
console.log("{{fresh_fall|safe}}");
for (x in "{{fresh_fall|safe}}") {
  console.log(x[0]);
  console.log(x[1]);
}
</script>
    
    -->
    
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Four Year</a></li>
      <li><a href="/degreeprogress">Degree Progress</a></li> 
      <li><a href="#">Certificates</a></li> 
      <li><a href="#">Princeton Course Approval</a></li> 
      <li><a href="#">Outside Course Approval</a></li> 
      <li><a href="#">Schedule Sharing</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li> 
        <li class="dropdown">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    
  </div>
</nav>

<div class="container">
    
    <div class="row">

     <div class="row">
         <div class="col-md-6">
         <div class="list_group">
                <a href= "#" class="list-group-item active">Freshman Fall</a>
             {% for x in fresh_fall %}
                <a href="#" class="list-group-item">{{ x.course }}</a>
             {% endfor %}
             </div>
         </div>
         <div class="col-md-6">
         <div class="list_group">
                <a href= "#" class="list-group-item active">Freshman Spring</a>
             {% for x in fresh_spring %}
                <a href="#" class="list-group-item">{{ x.course }}</a>
             {% endfor %}
         </div>
         </div>
     </div>

     <div class="row">
         <div class="col-md-6">
         <div class="list_group">
                <a href= "#" class="list-group-item active">Sophomore Fall</a>
             {% for x in soph_fall %}
                <a href="#" class="list-group-item">{{ x.course }}</a>
             {% endfor %}
         </div>
        </div>
         <div class="col-md-6">
         <div class="list_group">
                <a href= "#" class="list-group-item active">Sophomore Spring</a>
             {% for x in soph_spring %}
                <a href="#" class="list-group-item">{{ x.course }}</a>
             {% endfor %}
        </div> 
         </div>
      </div>
                
     <div class="row">
         <div class="col-md-6">
             <div class="list_group">
             <a href= "#" class="list-group-item active">Junior Fall</a>
             {% for x in junior_fall %}
                <a href="#" class="list-group-item">{{ x.course }}</a>
             {% endfor %}
             </div>
         </div>
         <div class="col-md-6">
            <div class="list_group">
                <a href= "#" class="list-group-item active">Junior Spring</a>
                 {% for x in junior_spring %}
                    <a href="#" class="list-group-item">{{ x.course }}</a>
                 {% endfor %}
             </div>
         </div>
         </div>
                
    <div class="row">
         <div class="col-md-6">
         <div class="list_group">
                <a href= "#" class="list-group-item active">Senior Fall</a>
                 {% for x in senior_fall %}
                    <a href="#" class="list-group-item">{{ x.course }}</a>
                 {% endfor %}
         </div>
         </div>
         <div class="col-md-6">
         <div class="list_group">
                <a href= "#" class="list-group-item active">Senior Spring</a>
             {% for x in senior_spring %}
                <a href="#" class="list-group-item">{{ x.course }}</a>
             {% endfor %}
         </div>
         </div>
    </div>
 </div>

 <div class="row">
        <h5>Add a class in a semester</h5>
            <div id="custom-search">
                <form class = "form-inline" action = "{% url 'site:TigerPath:four_year' "find" %}" method = "get">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Type course (e.g. COS 126)" value = "{{test}}" name="q"/>
                        <span class="input-group-btn">
                            <button  id="search-btn" class="btn btn-info btn-lg" type="submit" >
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
    </div>

    <div> Posted Course: {{test_course}}</div>
    <!-- List the matche courses below -->
    {% if matched_courses %}
        <div class="row">
            <p>Matched Courses</p>
        </div>
            <div class="list-group">
            {% for x in matched_courses %}
            <div class="list-group">
              <div class="btn-group">
              <form class= "form-inline" action= "{% url 'site:TigerPath:four_year' "add" %}" method= "post">
                  <button class="btn btn-default dropdown-toggle active btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{x.listings}} {{x.title}} {{x.area}}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" title="Add a Class" name=x.listings>
                    <li><a href="FRF">Freshman Fall</a></li>
                    <li><a href="FRS">Freshman Spring</a></li>
                    <li><a href="SOF">Sophomore Fall</a></li>
                    <li><a href="SOS">Sophomore Spring</a></li>
                    <li><a href="JUF">Junior Fall</a></li>
                    <li><a href="JUS">Junior Spring</a></li>
                    <li><a href="SEF">Senior Fall</a></li>
                    <li><a href="SES">Senior Spring</a></li>
                  </ul>
              </form>
            </div>
            </div>
          {% endfor %}
            </div>
    {% endif %}

</div>




<!-- <script type="text/babel" src="/../../static/scripts/react_course_search.js"></script> -->
<!-- <script  src="/../../static/scripts/search_requests.js"></script>  -->

</body>
</html>
