<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TigerPath | Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

  <script  src="/../../static/scripts/react.js"></script>
  <script  src="/../../static/scripts/react-dom.js"></script>
  <script  src="/../../static/scripts/bootstrap.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
  <script  src="/../../static/scripts/react-bootstrap.min.js"></script>
  <script  src="/../../static/scripts/JSXTransformer.js"></script>
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
  
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<a class="navbar-brand" href="#">-->
      <!--  <img alt="Brand" height="42" width="42" src="/../../static/pics/cat.png">-->
      <!--</a>-->
      
    </div>
  </div>
</nav>

</body>
</html>
