{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<head>
  
  <title>TigerPath | Home</title>
  
  
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">
  


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">TigerPath</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/about">About</a></li> 
        <li><a href="/fouryear">Login</a></li> 
        
    </ul>
  </div>
</nav>


<div class="jumbotron" align="center"><br><br>
  <h1>TigerPath is the easy way to for Computer Science majors to track their degree progress.</h1><br><br>
  <p>Log in to get started now!</p><br>
  <p><a class="btn btn-primary btn-lg" href="fouryear" role="button">Log In</a></p><br><br>
</div>

  



</body>
</html>

{% endblock %}
