{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<head>
  <title>TigerPath | MAT</title>
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">

    
<div class="container">
  <div class="page-header" style="color:#ff8f00;" style ='background-color: #2ba6cb;'>
  <h1>Materials Science and Engineering</h1>
</div>
</div>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="/fouryear">Four Year</a></li>
      <li><a href="/degreeprogress">Degree Progress</a></li> 
      <li><a href="/certificates">Certificates</a></li> 
      <li><a href="/outsidecourseapproval">Outside Course Approval</a></li> 
      <li><a href="/schedulesharing">Schedule Sharing</a></li> 
      <li><a href="/cosdata">COS Data</a></li>  
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li> 
        <li class="dropdown">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>


<script>
//Remove an item from your course list
function rmv(object) {
BootstrapDialog.confirm({
            title: 'Remove a course:',
            message: 'Are you sure you want to remove '.concat(String(object), ' from your course list?'),
             type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Drop it!', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) {
                // result will be true if button was click, while it will be false if users close the dialog directly.
                if(result) {
                    var x = document.getElementById(String(object));
                    x.submit();
                }else {
                    return;
                }
            }
        });
 
}
function add(object) {
var x = document.getElementById(String(object));
  BootstrapDialog.show({
            title: 'Add a course:',
            message: 'Please add '.concat(String(object), ' to a semester.'),
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            buttons: [{
                label: 'Cancel',
                cssClass: 'btn-danger',
                action: function(dialogRef){
                   dialogRef.close();
                }
              },
              {
                label: 'Freshman Fall',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "FRF";
                    x.submit();
                }
              },
              {
                label: 'Freshman Spring',
                cssClass: 'btn-primary btn-smaller',
                action: function(dialogRef){
                    x.term = "FRS";
                    x.submit();
                }
              },
              {
                label: 'Sophomore Fall',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "SOF";
                    x.submit();
                }
              },
              {
                label: 'Sophomore Spring',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "SOS";
                    x.submit();
                }
              },
              {
                label: 'Junior Fall',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "JRF";
                    x.submit();
                }
              },
              {
                label: 'Junior Spring',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "JRS";
                    x.submit();
                }
              },
              {
                label: 'Senior Fall',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "SRF";
                    x.submit();
                }
              },
              {
                label: 'Senior Spring',
                cssClass: 'btn-primary',
                action: function(dialogRef){
                    x.term = "SRS";
                    x.submit();
                }
              }]
        });
  }
</script>

<div class="container">
 {% if removed_class %}
    <div class="row"><br>
      <div class="alert alert-success col-md-12" role="alert">
        <b>Well Done!</b> You have successfully removed <b>{{removed_class}}</b>. 
      </div>
    </div>
  {% endif %}

  <div class="panel-heading">
    <h4>Requirements: Students interested in finding out more about the Materials Science and Engineering certificate and funding opportunities should schedule an appointment.</h4> 
  </div> <!-- panel heading -->

 
</div>
</body>
</html>

{% endblock %}
      
