{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<head>

  <title>TigerPath | Outside Course Approval</title>
   
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">

    
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="/fouryear">Four Year</a></li>
      <li><a href="/degreeprogress">Degree Progress</a></li> 
      <li><a href="/certificates">Certificates</a></li> 
      <li><a href="/princetoncourseapproval">Princeton Course Approval</a></li> 
      <li class="active"><a href="#">Outside Course Approval</a></li> 
      <li><a href="/schedulesharing">Schedule Sharing</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li> 
        <li class="dropdown">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>

<div class="container">
  
  <div class="page-header" style="color:#ff8f00">
  <h1>Approve a Non-Princeton Course</h1>
</div>

  
<div class="form-group">
  <label for="usr">Course Name:</label>
  <input type="text" class="form-control" id="course_name" placeholder="e.g. Summer Photography Class at NYU" value="{{ courseName }}">
</div>
</div>



</body>
</html>
{% endblock %}
