<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TigerPath | Profile</title>
  <link rel="stylesheet" href="/../../static/css/bootstrap.css">
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
  <script  src="/../../static/js/react.js"></script>
  <script  src="/../../static/js/react-dom.js"></script>
  <script  src="/../../static/js/react-bootstrap.min.js"></script>
  <script  src="/../../static/js/JSXTransformer.js"></script>
  <script  src="/../../static/js/bootstrap.js"></script>
  <script  src="/../../static/js/bootstrap-hover-dropdown.js"></script>
   
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">

<script>
console.log("{{user}}");


</script>
    
    
    
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="/fouryear">Four Year</a></li>
      <li><a href="/degreeprogress">Degree Progress</a></li> 
      <li><a href="/certificates">Certificates</a></li> 
      <li><a href="/princetoncourseapproval">Princeton Course Approval</a></li> 
      <li><a href="/outsidecourseapproval">Outside Course Approval</a></li> 
      <li><a href="/schedulesharing">Schedule Sharing</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li> 
        <li class="dropdown active">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="active"><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>

<div class="container">
<div class="form-group">
  <label for="usr">First Name:</label>
  <input type="text" class="form-control" id="firstname" value = "{{ firstName }}">
</div>
<div class="form-group">
  <label for="text">Last Name:</label>
  <input type="text" class="form-control" id="lastname" value = "{{ lastName }}">
</div>
</div>

<!-- This is Janky af b/c it's repetitive but idk how else to do it. It checks the engineerBool variable and if its 'true' it creates a form with BSE selected, if it's
not true then it creates a form (identical) but AB is selected -->

{% if engineerBool %}

<div class="container">
<div class="form-group">
  <label for="sel1">Select Degree Type:</label>
  <select class="form-control" id="sel1" value = "AB">
    <option>Test</option>
    <option selected>BSE</option>
    <option>AB </option>
  </select>
</div>
</div>

{% else %}

<div class="container">
<div class="form-group">
  <label for="sel1">Select Degree Type:</label>
  <select class="form-control" id="sel1" value = "AB">
    <option>Test</option>
    <option>BSE</option>
    <option selected>AB </option>
  </select>
</div>
</div>

{% endif %}



<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container"> 
  <div style="text-align:center"><br>
    TigerPath | COS 333 Project made by: Natalie Wertz, Sam Cheng, William Hinthorn, Viveque Ramji, Bennet Victor
    </div>
  </div>
</nav>



<!-- <script type="text/babel" src="/../../static/scripts/react_course_search.js"></script> -->
<!-- <script  src="/../../static/scripts/search_requests.js"></script>  -->

</body>
</html>
