{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<head>
  
  <title>TigerPath | Profile</title>
  
   
</head>
<body style="padding-top: 70px; padding-bottom: 70px;" onload="setAPToggle()">

<!-- These are the rendered string varibles given by context for this page. 
It'll be useful if we have these comments for each .html files??
user
firtN
lastN
engineerBool
publicBool
cert1
cert2
cert3 
ap_dict
-->



<script>
function setCalc1() {

  var initial = document.getElementById("hidCalc1");
  // not using this atm 

}
</script>



<script>
function update_Info() {

    var firstName = document.getElementById("firstname");
    var input = document.getElementById("hidFirstName");
    input.value = firstName.value;

    var lastName = document.getElementById("lastname")
    var input = document.getElementById("hidLastName");
    input.value = lastName.value;

    var engineerBool = document.getElementById("sel1")
    var input = document.getElementById("hidEngineer");
    if (engineerBool.value == "BSE")
      input.value = "1"
    else
      input.value = "0"


    var publicBool = document.getElementById("sel3")
    var input = document.getElementById("hidPublic");
    if (publicBool.value == "Public")
      input.value = "1"
    else
      input.value = "0"


    var cert1 = document.getElementById("cert1")
    var input = document.getElementById("hidcert1");
    input.value = cert1.value
   


    var cert2 = document.getElementById("cert2")
    var input = document.getElementById("hidcert2");
    input.value = cert2.value


    var cert3 = document.getElementById("cert3")
    var input = document.getElementById("hidcert3");
    input.value = cert3.value

    var calc_1 = document.getElementById("calc_1")
    var input = document.getElementById("hidcalc_1");
    input.value = calc_1.value

    var calc_2 = document.getElementById("calc_2")
    var input = document.getElementById("hidcalc_2");
    input.value = calc_2.value

    var calc_3 = document.getElementById("calc_3")
    var input = document.getElementById("hidcalc_3");
    input.value = calc_3.value

    var lin_alg = document.getElementById("lin_alg")
    var input = document.getElementById("hidlin");
    input.value = lin_alg.value


}
</script>


    
    
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="/fouryear">Four Year</a></li>
      <li><a href="/degreeprogress">Degree Progress</a></li> 
      <li><a href="/certificates">Certificates</a></li> 
      <!--li><a href="/princetoncourseapproval">Princeton Course Approval</a></li--> 
      <li><a href="/outsidecourseapproval">Outside Course Approval</a></li> 
      <li><a href="/schedulesharing">Schedule Sharing</a></li> 
      <li><a href="/cosdata">COS Data</a></li>  
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li> 
        <li class="dropdown active">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="active"><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>




<div class="container">
  
  <div class="page-header" style="color:#ff8f00">
  <div style="text-align:center">
  <h1>Your Profile Settings</h1>
  </div>
</div>

<!-- Form with all the questions -->

<div class="container-fluid">
<div class="row row-centered">
<div class="col-sm-6 col-centered" >
<div class="form-group">
  <label for="usr">First Name:</label>
  <input type="text" class="form-control" id="firstname" maxlength = 30, 
   value = "{{ firstN }}">
  <label for="text">Last Name:</label>
  <input type="text" class="form-control" id="lastname" maxlength = 30, 
   value = "{{ lastN }}">
  <label for="sel1">Select Degree Type:</label>
  <select class="form-control" id="sel1", >
    {% if engineerBool|stringformat:"s" == "1" %}
    <option selected>BSE</option>
    <option>AB </option>
    {% else %}
    <option>BSE</option>
    <option selected>AB </option>
    {% endif %}
  </select>
  <label for="sel2">Select Major:</label>
  <select class="form-control" id="sel2", >
    <option selected>Computer Science</option>
  </select>


<!-- 
  <label for "cert1"> Are you interested in a certificate? </label>
  <select class = "form-inline" id = "cert1", >
  <option selected> None </option>
  <option> EMS </option>
  </select>
   <select class = "form-inline" id = "cert2", >
  <option selected> None </option>
  <option> EMS </option>
  </select>
   <select class = "form-inline" id = "cert3", >
  <option selected> None </option>
  <option> EMS </option>
  </select> -->

  <label for="sel3">Do you want your schedule to be public?</label>
  <select class="form-control" id="sel3", >
    {% if publicBool|stringformat:"s" == "1" %}
    <option selected>Public</option>
    <option> Private </option>
    {% else %}
    <option>Public</option>
    <option selected>Private </option>
    {% endif %}
  </select>
</div>
</div>
<div class="col-sm-6 col-centered"> 
<div style = "text-align:center">
  <p><b>Have you placed out of these courses?</b></p>
</div>
<div style = "text-align:center">
<label class="checkbox-inline" style = "text-align:center">
{% if ap_dict.calc_1|stringformat:"s" == "1" %}
  <input type="checkbox"   id ="calc_1" checked data-toggle="toggle" data-on="Calc1" data-off="Calc1" value = "1">
  {% else %}
  <input type="checkbox"  id ="calc_1" data-toggle="toggle" data-on="Calc1" data-off="Calc1" value = "0"> 
  {% endif %}
</label>
<label class="checkbox-inline">
  {% if ap_dict.calc_2|stringformat:"s" == "1" %}
  <input type="checkbox"   id ="calc_2" checked data-toggle="toggle" data-on="Calc2" data-off="Calc2" value = "1">
  {% else %}
  <input type="checkbox"   id ="calc_2" data-toggle="toggle" data-on="Calc2" data-off="Calc2" value = "0"> 
  {% endif %}
</label>
<label class="checkbox-inline">
  {% if ap_dict.calc_3|stringformat:"s" == "1" %}
  <input type="checkbox"   id ="calc_3" checked data-toggle="toggle" data-on="Calc3" data-off="Calc1" value = "1">
  {% else %}
  <input type="checkbox"  id ="calc_3" data-toggle="toggle" data-on="Calc1" data-off="Calc3" value = "0"> 
  {% endif %} 
<label class="checkbox-inline">
  {% if ap_dict.linear|stringformat:"s" == "1" %}
  <input type="checkbox"  id ="lin_alg" checked data-toggle="toggle" data-on="Linear" data-off="Linear" value = "1">
  {% else %}
  <input type="checkbox"  id ="lin_alg" data-toggle="toggle" data-on="Linear" data-off="Linear" value = "0"> 
  {% endif %} 
</label>
</div>
</div>

</div>
</div>




<div class="container-fluid">
<div class="row">
<div class="col-sm-6" >
<form>
<button onclick="update_Info()" type="submit" formaction="" formmethod = "post">
{% csrf_token %} Save!
<input type="hidden" name="firstN" id = "hidFirstName"  >
<input type="hidden" name="lastN" id= "hidLastName"  >
<input type="hidden" name="engineerBool" id = "hidEngineer"  >
<input type="hidden" name="publicBool" id = "hidPublic" >
<input type="hidden" name="cert1" id = "hidcert1">
<input type="hidden" name="cert2" id = "hidcert2">
<input type="hidden" name="cert3" id = "hidcert3">
<input type="hidden" name="calc_1" id = "hidcalc_1">
<input type="hidden" name="calc_2" id = "hidcalc_2">
<input type="hidden" name="calc_3" id = "hidcalc_3">
<input type="hidden" name="lin_alg" id = "hidlin">

</button>
</form>
</div>
</div>
</div>

<!--

<div class="container-fluid" >
<div class="row">
<div class="col-sm-6" >
<label class="checkbox-inline">
  <input type="checkbox" checked data-toggle="toggle" data-on="Calc1" data-off="Calc1"> 
</label>
<label class="checkbox-inline">
  <input type="checkbox" checked data-toggle="toggle" data-on="Calc2" data-off="Calc2"> 
</label>
<label class="checkbox-inline">
  <input type="checkbox" checked data-toggle="toggle" data-on="Calc3" data-off="Calc3"> 
<label class="checkbox-inline">
  <input type="checkbox" checked data-toggle="toggle" data-on="linear" data-off="linear"> 
</label>
</div>
</div>
</div>
-->



<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container"> 
  <div style="text-align:center"><br>
     TigerPath | COS 333 Project made by: Natalie Wertz, Sam Cheng, William Hinthorn, Viveque Ramji, Bennett Victor
  </div>
  </div>
</nav>





<!-- <script type="text/babel" src="/../../static/scripts/react_course_search.js"></script> -->
<!-- <script  src="/../../static/scripts/search_requests.js"></script>  -->

</body>
</html>
{% endblock %}

