<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TigerPath | Profile</title>
  <link rel="stylesheet" href="/../../static/css/bootstrap.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <script  src="/../../static/js/bootstrap.js"></script>
  <script  src="/../../static/js/bootstrap-hover-dropdown.js"></script>
   
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">

<!-- These are the rendered string varibles given by context for this page. 
It'll be useful if we have these comments for each .html files??
user
firtN
lastN
engineerBool
publicBool 
-->



<script>
function update_Info() {

    var firstName = document.getElementById("firstname");
    var input = document.getElementById("hidFirstName");
    input.value = firstName.value;

    var lastName = document.getElementById("lastname")
    var input = document.getElementById("hidLastName");
    input.value = lastName.value;

    var engineerBool = document.getElementById("sel1")
    var input = document.getElementById("hidEngineer");
    if (engineerBool.value == "BSE")
      input.value = "1"
    else
      input.value = "0"


    var publicBool = document.getElementById("sel3")
    var input = document.getElementById("hidPublic");
    if (publicBool.value == "Public")
      input.value = "1"
    else
      input.value = "0"
}

</script>


    
    
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="/fouryear">Four Year</a></li>
      <li><a href="/degreeprogress">Degree Progress</a></li> 
      <li><a href="/certificates">Certificates</a></li> 
      <li><a href="/princetoncourseapproval">Princeton Course Approval</a></li> 
      <li><a href="/outsidecourseapproval">Outside Course Approval</a></li> 
      <li><a href="/schedulesharing">Schedule Sharing</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li> 
        <li class="dropdown active">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="active"><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>




<div class="container">
  
  <div class="page-header" style="color:#ff8f00">
  <div style="text-align:center">
  <h1>Your Profile Settings</h1>
  </div>
</div>

<!-- Form with all the questions -->

<div class="container-fluid">
<div class="row row-centered">
<div class="col-sm-6 col-centered" >
<div class="form-group">
  <label for="usr">First Name:</label>
  <input type="text" class="form-control" id="firstname" maxlength = 30, 
   value = "{{ firstN }}">
  <label for="text">Last Name:</label>
  <input type="text" class="form-control" id="lastname" maxlength = 30, 
   value = "{{ lastN }}">
  <label for="sel1">Select Degree Type:</label>
  <select class="form-control" id="sel1", >
    {% if engineerBool|stringformat:"s" == "1" %}
    <option selected>BSE</option>
    <option>AB </option>
    {% else %}
    <option>BSE</option>
    <option selected>AB </option>
    {% endif %}
  </select>
  <label for="sel2">Select Major:</label>
  <select class="form-control" id="sel2", >
    <option selected>Computer Science</option>
  </select>
  <label for="sel3">Do you want your schedule to be public?</label>
  <select class="form-control" id="sel3", >
    {% if publicBool|stringformat:"s" == "1" %}
    <option selected>Public</option>
    <option> Private </option>
    {% else %}
    <option>Public</option>
    <option selected>Private </option>
    {% endif %}
  </select>
</div>
</div>
<div class="col-sm-6 col-centered"> 
<div style = "text-align:center">
  <p><b>Have you placed out of these courses?</b></p>
  <label class="checkbox-inline" >
  <input type="checkbox" checked data-toggle="toggle" data-on="Calc1" data-off="Calc1"> 
</label>
<label class="checkbox-inline">
  <input type="checkbox" checked data-toggle="toggle" data-on="Calc2" data-off="Calc2"> 
</label>
<label class="checkbox-inline">
  <input type="checkbox" checked data-toggle="toggle" data-on="Calc3" data-off="Calc3"> 
<label class="checkbox-inline">
  <input type="checkbox" checked data-toggle="toggle" data-on="linear" data-off="linear"> 
</label>
</div>

</div>

</div>
</div>




<div class="container-fluid">
<div class="row">
<div class="col-sm-6" >
<form>
<button onclick="update_Info()" type="submit" formaction="" formmethod = "post">
{% csrf_token %} Save!
<input type="hidden" name="firstN" id = "hidFirstName"  >
<input type="hidden" name="lastN" id= "hidLastName"  >
<input type="hidden" name="engineerBool" id = "hidEngineer"  >
<input type="hidden" name="publicBool" id = "hidPublic" >
</button>
</form>
</div>
</div>
</div>

<!--

<div class="container-fluid" >
<div class="row">
<div class="col-sm-6" >
<label class="checkbox-inline">
  <input type="checkbox" checked data-toggle="toggle" data-on="Calc1" data-off="Calc1"> 
</label>
<label class="checkbox-inline">
  <input type="checkbox" checked data-toggle="toggle" data-on="Calc2" data-off="Calc2"> 
</label>
<label class="checkbox-inline">
  <input type="checkbox" checked data-toggle="toggle" data-on="Calc3" data-off="Calc3"> 
<label class="checkbox-inline">
  <input type="checkbox" checked data-toggle="toggle" data-on="linear" data-off="linear"> 
</label>
</div>
</div>
</div>
-->



<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container"> 
  <div style="text-align:center"><br>
     TigerPath | COS 333 Project made by: Natalie Wertz, Sam Cheng, William Hinthorn, Viveque Ramji, Bennett Victor
  </div>
  </div>
</nav>





<!-- <script type="text/babel" src="/../../static/scripts/react_course_search.js"></script> -->
<!-- <script  src="/../../static/scripts/search_requests.js"></script>  -->

</body>
</html>


