
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TigerPath | Princeton Course Approval</title>
  <link rel="stylesheet" href="/../../static/css/bootstrap.css">
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
  <script  src="/../../static/js/react.js"></script>
  <script  src="/../../static/js/react-dom.js"></script>
  <script  src="/../../static/js/react-bootstrap.min.js"></script>
  <script  src="/../../static/js/JSXTransformer.js"></script>
  <script  src="/../../static/js/bootstrap.js"></script>
  <script  src="/../../static/js/bootstrap-hover-dropdown.js"></script>
   
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">


<script>
console.log("{{user}}");
</script>
    
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="/fouryear">Four Year</a></li>
      <li><a href="/degreeprogress">Degree Progress</a></li> 
      <li><a href="/certificates">Certificates</a></li> 
      <li class="active"><a href="#">Princeton Course Approval</a></li> 
      <li><a href="/outsidecourseapproval">Outside Course Approval</a></li> 
      <li><a href="/schedulesharing">Schedule Sharing</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li> 
        <li class="dropdown">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>

<div class="container">
  <div class="page-header" style="color:#ff8f00">
  <h1>Approve a Non-Listed Princeton Course </h1>
</div>

  
<h5>Leave Field Blank if Not Applicable</h5>
<span id="custom-search">
  <form class = "form-inline" action = "" method = "get" >
     <div class="input-group col-md-12">
        <input type="text" class="form-control input-lg" placeholder="Type course (e.g. COS 126)" value = "{{test}}" name="q" />
        <span class="input-group-btn">
          <button  id="search-btn" class="btn btn-info btn-lg" type="submit" >
             <i class="glyphicon glyphicon-search"></i>
          </button>
        </span>
      </div>
    </form>
</span>

{% if matched_courses %}
  <div class="row">
    <p><br>Matched Courses</p>
  </div>
    <div class="list-group">
      {% for x in matched_courses %}
        <span class="list-group col-md-12">
            <div class="btn-group" style="width: 100%">
              <form class= "form-inline" action= "" method= "post">{% csrf_token %}
                <li class="list-group-item">{{x.listings}} {{x.title}} {{x.area}}
                  <select class="form-control" name="semester">
                      <option>Freshman Fall</option>
                      <option>Freshman Spring</option>
                      <option>Sophomore Fall</option>
                      <option>Sophomore Spring</option>
                      <option>Junior Fall</option>
                      <option>Junior Spring</option>
                      <option>Senior Fall</option>
                      <option>Senior Spring</option>
                    </select>
                  <input type="hidden" name="listing" value={{x.listings}}>
                  <input type="submit" class="btn btn-info" value="Add Class">
                </li>
              </form>
            </div>
        </span>
      {% endfor %}
  </div>
{% endif %}

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container"> 
  <div style="text-align:center"><br>
    TigerPath | COS 333 Project made by: Natalie Wertz, Sam Cheng, William Hinthorn, Viveque Ramji, Bennett Victor
    </div>
  </div>
</nav>




</body>
</html>
