
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TigerPath | Schedule Sharing</title>
  <link rel="stylesheet" href="/../../static/css/bootstrap.css">
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
  <script  src="/../../static/js/react.js"></script>
  <script  src="/../../static/js/react-dom.js"></script>
  <script  src="/../../static/js/react-bootstrap.min.js"></script>
  <script  src="/../../static/js/JSXTransformer.js"></script>
  <script  src="/../../static/js/bootstrap.js"></script>
  <script  src="/../../static/js/bootstrap-hover-dropdown.js"></script>
   
</head>
<body style="padding-top: 70px; padding-bottom: 70px;">

    
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="/fouryear">Four Year</a></li>
      <li><a href="/degreeprogress">Degree Progress</a></li> 
      <li><a href="/certificates">Certificates</a></li> 
      <li><a href="/outsidecourseapproval">Outside Course Approval</a></li> 
      <li class="active"><a href="#">Schedule Sharing</a></li> 
      <li><a href="/cosdata">COS Data</a></li>  
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li> 
        <li class="dropdown">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container"> 
  <div style="text-align:center"><br>
    TigerPath | COS 333 Project made by: Natalie Wertz, Sam Cheng, William Hinthorn, Viveque Ramji, Bennett Victor
    </div>
  </div>
</nav>

<div class="container">
  <div class="page-header" style="color:#ff8f00">
  <h1>Shared Schedules </h1>
</div>

<!-- Suggested Certificates -->
 {% if top_5 %}
<div class="row">
  <div class="panel-heading">
    <h4>Here are the top 5 students with the most similar schedule:</h4> 
  </div> <!-- panel heading -->

</div> <!-- row/-->
{% endif %}

<div class="container">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{top_5.0}}<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="{% url 'views.share' top_5.0 %}">See Schedule</a></li>
    <!--li><a href="mailto:{{top_5.0}}@princeton.edu">Email</a></li>
    <!--<li role="separator" class="divider"></li>-->
  </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{top_5.1}}<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="{% url 'views.share' top_5.1 %}">See Schedule</a></li>
    <!--li><a href="mailto:{{top_5.1}}@princeton.edu">Email</a></li>
    <!--<li role="separator" class="divider"></li>-->
  </ul>

  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{top_5.2}}<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="{% url 'views.share' top_5.2 %}">See Schedule</a></li>
    <!--li><a href="mailto:{{top_5.2}}@princeton.edu">Email</a></li>
    <!--<li role="separator" class="divider"></li>-->
  </ul>

  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{top_5.3}}<span class="caret"></span>
  </button>
  <!--ul class="dropdown-menu">
    <li><a href="{% url 'views.share' top_5.3 %}">See Schedule</a></li>
    <li><a href="mailto:{{top_5.3}}@princeton.edu">Email</a></li>
    <<li role="separator" class="divider"></li>>
  </ul-->

  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{top_5.4}}<span class="caret"></span>
  </button>
  <!--ul class="dropdown-menu">
    <li><a href="{% url 'views.share' top_5.3 %}">See Schedule</a></li>
    <li><a href="mailto:{{top_5.3}}@princeton.edu">Email</a></li>
    <<li role="separator" class="divider"></li>>
  </ul-->

  </div>
  
  
  
  
  
</div>
  
  
  
  


</div>




</body>
</html>
