{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<head>
  <title>TigerPath | {{ shared_user }}'s Schedule</title>
</head>


<body>

<!--Colors used: dark orange: #FF8F00; light orange for hover: #FFB352-->


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href="/fouryear">Four Year</a></li>
      <li><a href="/degreeprogress">Degree Progress</a></li> 
      <li><a href="/certificates">Certificates</a></li> 
      <li><a href="/outsidecourseapproval">Outside Course Approval</a></li> 
      <li class="active"><a href="/schedulesharing">Schedule Sharing</a></li> 
      <li><a href="/cosdata">COS Data</a></li>  
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li> 
        <li class="dropdown">  
    <a class="dropdown-toggle" data-hover="dropdown" data-delay="100" data-close-others="false">
        {{ user }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</li>  

    </ul>
  </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container"> 
  <div style="text-align:center"><br>
    TigerPath | COS 333 Project made by: Natalie Wertz, Sam Cheng, William Hinthorn, Viveque Ramji, Bennett Victor
    </div>
  </div>
</nav>

<div class="container">
  <div class="page-header" style="color:#ff8f00">
  <h1>{{ shared_user }}'s Shared Schedule</h1>
</div>

<!-- Suggested Certificates -->
 {% if top_3 %}
<div class="row">
  <div class="panel-heading">
    <h4>Have you considered pursuing the <b>{{num}}</b> </h4> 
  </div> <!-- panel heading -->

    <div class="row">
                
                
            
     <div class="row">
         <div class="col-md-6">
         <div class="list_group">
                <a class="list-group-item active">Freshman Fall</a>
             {% for x in fresh_fall %}
               <span>
               <form class= "form-inline" id = "{{x.course.listings}}" action= "" method= "post">{% csrf_token %}
                <a class="list-group-item">{{ x.course }} {{x.course.title}}</a>
                
              </form>
            </span>
             {% endfor %}
             </div>
         </div>
         <div class="col-md-6">
         <div class="list_group">
                <a class="list-group-item active">Freshman Spring</a>
             {% for x in fresh_spring %}
                <span>
                <form class= "form-inline" id = "{{x.course.listings}}" action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" >{{ x.course }} {{x.course.title}}
                    </a>
                
              </form>
            </span>
             {% endfor %}
         </div>
         </div>
     </div>
     <br>

     <div class="row">
         <div class="col-md-6">
         <div class="list_group">
                <a class="list-group-item active">Sophomore Fall</a>
             {% for x in soph_fall %}
                <span>
                <form class= "form-inline" id = "{{x.course.listings}}"  action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" >{{ x.course }} {{x.course.title}}
                </a>
                
              </form>
            </span>
             {% endfor %}
         </div>
        </div>
         <div class="col-md-6">
         <div class="list_group">
                <a class="list-group-item active">Sophomore Spring</a>
             {% for x in soph_spring %}
                <span>
                 <form class= "form-inline" id = "{{x.course.listings}}"  action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" >{{ x.course }} {{x.course.title}}
                </a>
                
              </form>
            </span>
             {% endfor %}
        </div> 
         </div>
      </div>
      <br>
                
     <div class="row">
         <div class="col-md-6">
             <div class="list_group">
             <a class="list-group-item active">Junior Fall</a>
             {% for x in junior_fall %}
             <span>
                <form class= "form-inline" id = "{{x.course.listings}}" action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" >{{ x.course }} {{x.course.title}}
               </a>
                
              </form>
            </span>
             {% endfor %}
             </div>
         </div>
         <div class="col-md-6">
            <div class="list_group">
                <a class="list-group-item active">Junior Spring</a>
                 {% for x in junior_spring %}
                 <span>
                    <form class= "form-inline" id = "{{x.course.listings}}" action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" n>{{ x.course }} {{x.course.title}}
                </a>
                
              </form>
            </span>
                 {% endfor %}
             </div>
         </div>
         </div>
         <br>
                
    <div class="row">
         <div class="col-md-6">
         <div class="list_group">
                <a class="list-group-item active">Senior Fall</a>
                 {% for x in senior_fall %}
                  <span>
                    <form class= "form-inline" id = "{{x.course.listings}}" action= "" method= "post">{% csrf_token %}
                <a class="list-group-item">{{ x.course }} {{x.course.title}}
                </a>
                
              </form>
            </span>
                 {% endfor %}
         </div>
         </div>
         <div class="col-md-6">
         <div class="list_group">
                <a class="list-group-item active">Senior Spring</a>
             {% for x in senior_spring %}
                <span>
                <form class= "form-inline"id = "{{x.course.listings}}" action= "" method= "post">{% csrf_token %}
                <a class="list-group-item" >{{ x.course }} {{x.course.title}}
                </a>
              </form>
            </span>
             {% endfor %}
         </div>
         </div>
    </div>
 </div>
</div>


<!-- <script type="text/babel" src="/../../static/scripts/react_course_search.js"></script> -->
<!-- <script  src="/../../static/scripts/search_requests.js"></script>  -->

</body>
</html>
{% endblock %}
