/*Colors used: dark orange: #FF8F00; light orange for hover: #FFB352*/


body {
  padding-top: 70px; 
  padding-bottom: 70px;
}

.link{
  color:#f00;
}

.link:hover {
  font-size: 1.2em;
  cursor: pointer;
}

.link2{
  color:#A6D785;
}

.link2:hover {
  font-size: 1.2em;
  cursor: pointer;
}

.btn-primary .btn-smaller {
	width: 10px;
}

