body { 
padding-top: 70px;
padding-bottom: 70px; 
}


.footer {
  text-align:center
}

.jumbotron {
   align:center
}

.jumbotron-img {
  padding-top: 30px;
  background-image: "/../pics/bgtest.jpg";
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}