h1 {
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
}

div {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}