<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Current Courses</title>
  <script src="/../../static/scripts/react.js"></script>
  <script src="/../../static/scripts/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
</head>
<body>

<a><b> Welcome, {{ user }}!</b> </a>
  <div id="message" align="center"></div>

  <script type="text/babel">
  var CourseSearch = React.createClass({
     getInitialState: function() {
      return {
         value: 'COS 226',
         courses: []
      };
    },
    handleChange: function(ev) {
      this.setState({value: ev.target.value});
    },
    handleClick: function(ev){
      if (this.state.value == 'COS 226'){
            this.setState({value: ''})}
    },
    submit: function(ev) {
      ev.preventDefault();
      var matchedCourses = <Courses query={this.state.value} />;
    },
    render: function() {
      return (
        <div>
        Add a Course:
        <form onSubmit={this.submit}>
          <input type="text" value={this.state.value}
            onClick={this.handleClick}
            onChange={this.handleChange} />
          <input type="submit" value="Search" />
        </form>
        </div>
      );
     }
  });
  var Courses = React.createClass({
    getInitialState: function() {
      return {
        matches: {}
      };
    },

    searchCourses: function(ev) {
      var matchedcourses = [];
      var j = 0;
      for (x in all_courses) {
        if (j > 10) {break;}
        matchedcourses.push(x);
        j = j + 1;
      }
      return matchedcourses;
    }


    render: function() {
      return (
        <div>Sample Filler </div>
      );
     }
  });

    ReactDOM.render(
      <CourseSearch />,
      document.getElementById('message')
    );
  </script>

{% block title %}Courses for {{ user }}{% endblock %}

{% block content %}
  <div>
    <p><b>Freshman Fall</b></p>
    {% for x in fresh_fall %}
        <p>{{ x.course }}</p>
    {% endfor %}
  </div>
{% endblock %}
</body>
</html>
